body {
  font-family: 'open sans','Source Sans Pro', sans-serif;
  line-height: 1.8;
  box-sizing: border-box; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

nav.navbar.navbar-default {
  background: transparent;
  position: absolute;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  margin: auto;
  top: 0;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px; }

nav.navbar-other {
  position: relative !important;
  background: #754F44 !important; }
  nav.navbar-other .navbar-brand {
    color: white; }
    nav.navbar-other .navbar-brand:hover {
      color: #FBFFB9; }

.navbar-default .navbar-nav > li > a {
  font-family: 'open sans','source sans pro', 'open sans', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 500;
  letter-spacing: .6px;
  transition: color 0.6s ease;
  padding: 0px 10px;
  margin-top: 25px; }
  .navbar-default .navbar-nav > li > a:after {
    content: '';
    width: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: all 0.3s ease-in-out; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #FBFFB9; }
    .navbar-default .navbar-nav > li > a:hover:after {
      width: 30px; }

.navbar-default .navbar-brand {
  color: #754F44;
  font-weight: 800;
  font-size: 30px;
  margin-top: 15px; }

.jumbotron {
  margin-top: 0px;
  background: url(../img/2.jpg);
  background-size: cover;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 0px; }
  .jumbotron h1 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    color: #fff;
    text-shadow: 0px 3px 10px #aaaaaa;
    padding-top: 40px;
    margin-bottom: 50px; }
  .jumbotron p {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px; }
  .jumbotron a.btn.btn-primary {
    background: transparent;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 100px;
    padding: 20px 50px;
    transition: all 0.7s cubic-bezier(1, 0.07, 0.3, 1.56); }
    .jumbotron a.btn.btn-primary:hover {
      background: #fff;
      color: #333; }

.org {
  color: #FBFFB9; }

h2 {
  margin: 30px 0px; }

.card {
  background: #fff;
  border-radius: 15px;
  padding: 0px;
  transition: all 0.2s ease;
  margin: 20px 0px;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15); }
  .card img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; }
  .card:hover {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15); }
  .card .info {
    padding: 40px; }
    .card .info h4 {
      font-size: 24px;
      font-weight: 800;
      letter-spacing: .7px;
      color: #754F44;
      text-transform: uppercase; }
    .card .info p {
      font-size: 18px;
      color: #333;
      margin: 25px 0px; }
    .card .info .btn {
      background: #754F44;
      color: #FBFFB9;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      border-radius: 60px;
      padding: 13px 40px;
      transition: all 0.4s ease; }
      .card .info .btn:hover {
        background: #34231f; }

.input-group-addon {
  padding: 6px 12px;
  /* font-size: 14px; */
  /* font-weight: 400; */
  line-height: 1;
  /* color: #555; */
  /* text-align: center; */
  /* background-color: #eee; */
  border: 1px solid #ccc;
  border-radius: 4px; }

section#featured {
  background: #fffcf6;
  padding-bottom: 50px; }

footer {
  background: #754F44;
  color: #e5d7d3;
  padding: 30px 0px;
  font-size: 18px; }

/*# sourceMappingURL=main.css.map */
