<!DOCTYPE html>
<html lang="en" ng-app="localStorage">
<head>
	<meta charset="UTF-8">
	<title>Local Storage</title>
	<style>	
		
	</style>
</head>
<body>
	
	<div ng-controller = "bucketlist">
		<ul>
			<li ng-repeat = "item in fullList track by $index">
				<input type="checkbox" ng-model="item.done">
				<span class="{{ item.done }}">{{ item.name }}</span>
			</li>
			<button ng-click="remove()" ng-if="fullList.length > 0">Remove Checked</button>
		</ul>

		<form ng-submit="addItem()">
			Wish Name: <input type="text" ng-model="wish" required>
			<br><br>
			<input type="submit">
		</form>
	</div>
	


	<script src="angular.min.js"></script>	
	<script>

		var app = angular.module('localStorage', []);
		app.controller('bucketlist', function($scope) {
			// Retreive data from local Storage
			$scope.saved = localStorage.getItem('list');
			// $scope.intial = [
			// 	{name: 'Go to vegas', done: false},
			// 	{name: 'Meet Pewdiepie and leafy', done: false},
			// 	{name: 'Build a minecraft using three js', done: false}
			// ];

			if($scope.saved !== null) {
				$scope.fullList = JSON.parse($scope.saved);
			} else {
				$scope.fullList = [];
			}

			$scope.remove = function() {
				var oldList = $scope.fullList;
				$scope.fullList = [];
				angular.forEach(oldList, function(x) {
					if(!x.done) $scope.fullList.push(x);
				});
				localStorage.setItem('list', JSON.stringify($scope.fullList));
			}
			// localStorage.setItem('list', JSON.stringify($scope.fullList));

			$scope.addItem = function() {
				$scope.fullList.push({name: $scope.wish, done: false});
				$scope.wish = '';
				localStorage.setItem('list', JSON.stringify($scope.fullList));
			}


		});
	</script>
</body>
</html>