<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>As Controller Syntax</title>
</head>
<body ng-controller = "userController as cont">
	<div>

		Search: <input type="text" ng-model="search"><br>
		<table>
			<tr>
				<th>Name</th>
				<th>Age</th>
			</tr>

			<tr ng-repeat="star in cont.stars | filter:search">
				<td>{{star.name}}</td>
				<td>{{star.age}}</td>
			</tr>
		</table>

		<br><br>

		<form ng-submit="cont.form()">
			Name: <input type="text" ng-model="cont.name"><br>
			Age: <input type="number" ng-model="cont.age"><br>
			<input type="submit" value="submit">
		</form>

		<br><br>
	</div>
	
	<script src="angular.min.js"></script>
	<script src="app/controllers/newCustomerController.js"></script>
</body>
</html>