<section id="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="img/1.jpg" class="img-responsive img-rounded img-thumbnail" alt="">

            </div>
            <div class="col-lg-7">
                <h2>The Best Watch Ever <p style="margin-top: 5px;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i> 10 reviews</p>
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem beatae consectetur consequuntur cumque cupiditate dolorem dolores error eum excepturi explicabo iusto mollitia necessitatibus, possimus, quam soluta sunt totam velit?</p>

                <select name="quantity" id="" class="form-control" style="width: 25% !important; margin-bottom: 20px;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <h4>$ 13.98</h4>
                <a class="btn btn-success" href="#">Add to cart</a>
            </div>
        </div>
    </div>
</section>